<h2 mat-dialog-title>example de texte</h2>
<mat-dialog-content>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
    <p>XG123IAMSAP</p>
</mat-dialog-content>
