<h2 mat-dialog-title>RULES OF MOTUS</h2>
<mat-dialog-content>
    <p>The game is based on finding words of a fixed number of letters. Two teams of two candidates compete during the first part.
    Following this, the victorious team tries to pocket the pot during the Super Game. A candidate proposes a word within a maximum
    of eight seconds and must spell it. The word must contain the correct number of letters and be spelled correctly, otherwise
    it is refused.
    <br>
    The word then appears on a grid: the letters well placed are colored in red, the letters present but badly
    placed are circled yellow. For a letter, one can have at most only the number of occurrences of this letter in the word of
    colored (either in yellow, or in red if some are well placed).</p>
</mat-dialog-content>
