<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button matTooltip="home" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button matTooltip="rules" routerLink="/rules">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-button matTooltip="contact" routerLink="/contact">
      <mat-icon>perm_contact_calendar</mat-icon>
    </button>
    <button mat-button matTooltip="logout" routerLink="/login" (click)='logout()'>
      <mat-icon>lock_open</mat-icon>
    </button>
    <button mat-button matTooltip="login" routerLink="/login">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-button matTooltip="motus" routerLink="/matchmaking">
      <mat-icon>games</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>