<app-navbar></app-navbar>
<!-- rules.component.html -->

<div *ngIf="auth.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img src="user.photoURL" alt="travisthebest">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.favoriteColor }} </p>
    <button (click)="auth.signOut()">Logout</button>
</div>
<mat-card>
    <mat-card-header>
        <mat-card-title>rules</mat-card-title>
        <mat-card-subtitle>Click the button for a see the rules</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button color="accent" (click)="onOpendDialog()">Get Rules</button>
    </mat-card-content>
</mat-card>
