<!-- logintest.page.html --> 
<p>motus works</p>
<div class="example-container mat-elevation-z8">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="saisir votre mot" name="mot" [(ngModel)]="mot" #ctrl="ngModel" class="form-control" required
                minlength="8" required maxlength="8" appForbiddenName="bob">
        </mat-form-field>
        <button mat-button (click)="submit()">Click me!</button>
    </form>

    <mat-grid-list cols="8" rowHeight="2:1" id="row1">
        <mat-grid-tile id="row1-1"></mat-grid-tile>
        <mat-grid-tile id="row1-2">2</mat-grid-tile>
        <mat-grid-tile id="row1-3">3</mat-grid-tile>
        <mat-grid-tile id="row1-4">4</mat-grid-tile>
        <mat-grid-tile id="row1-5">5</mat-grid-tile>
        <mat-grid-tile id="row1-6">6</mat-grid-tile>
        <mat-grid-tile id="row1-7">7</mat-grid-tile>
        <mat-grid-tile id="row1-8">8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row2">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row3">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row4">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row5">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row6">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row7">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row8">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
</div>
