<!-- logintest.page.html --> 
<p>motus works</p>
<div class="example-container mat-elevation-z8">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="saisir votre mot" name="mot" [(ngModel)]="mot"  class="form-control" required
                minlength="8" required maxlength="8" appForbiddenName="bob">
        </mat-form-field>
        <button mat-button (click)="submit()">Click me!</button>
    </form>

    <mat-grid-list cols="8" rowHeight="2:1" id="row1">
        <mat-grid-tile id="row1-1">{{arrayMot0[0]}}</mat-grid-tile>
        <mat-grid-tile id="row1-2">{{arrayMot0[1]}}</mat-grid-tile>
        <mat-grid-tile id="row1-3">{{arrayMot0[2]}}</mat-grid-tile>
        <mat-grid-tile id="row1-4">{{arrayMot0[3]}}</mat-grid-tile>
        <mat-grid-tile id="row1-5">{{arrayMot0[4]}}</mat-grid-tile>
        <mat-grid-tile id="row1-6">{{arrayMot0[5]}}</mat-grid-tile>
        <mat-grid-tile id="row1-7">{{arrayMot0[6]}}</mat-grid-tile>
        <mat-grid-tile id="row1-8">{{arrayMot0[7]}}</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row2">
        <mat-grid-tile>{{arraymotRef[0]}}</mat-grid-tile>
        <mat-grid-tile>{{arrayMot1[0]}}</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row3">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row4">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row5">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row6">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row7">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="8" rowHeight="2:1" id="row8">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
      </mat-grid-list>
</div>
