<!-- contact.page.html -->
<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->

</div>
<ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>

    <button (click)="auth.googleLogin()">
        <i class="fa fa-google"></i> Connect Google
    </button>

</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <h3>Howdy, {{ user.displayName }}</h3>
        
        <p>UID: {{ user.uid }}</p>
        
        <button (click)="auth.signOut()">Logout</button>
    </div>
    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
            <mat-card-subtitle>Enter your Demand</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form>
                <h3>FORMULAIRE</h3>
                <mat-input-container>
                    <input matInput placeholder="First Name">
                </mat-input-container>

                <mat-input-container>
                    <input matInput placeholder="Last Name">
                </mat-input-container>

                <mat-input-container>
                    <input matInput placeholder="Email">
                    <mat-hint align="end">ex: info@iamsap.com</mat-hint>
                </mat-input-container>

                <mat-input-container>
                    <input matInput placeholder="Phone">
                    <mat-hint align="end">format: ### ###-####</mat-hint>
                </mat-input-container>

                <mat-form-field hintLabel="Max 50 characters">
                    <input matInput #input maxlength="50" placeholder="Enter your message">
                    <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
                </mat-form-field>

                <h3>Preferences</h3>
                <mat-select placeholder="Preferred contact method">
                    <mat-option value="Email">Email</mat-option>
                    <mat-option value="Phone">Phone</mat-option>
                </mat-select>

                <mat-checkbox>Subscribe to our newsletter</mat-checkbox>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" (click)="onSubmit()">Submit</button>
            <button mat-button>Cancel</button>
        </mat-card-actions>
    </mat-card>

</ng-template>