<mat-card>
    <mat-card-title-group>
        <div class="container">
            <div class="row mx-auto">
            <div class="col-12">
                <mat-card-subtitle class="text-center playernumber">Player {{playerNumber}}</mat-card-subtitle>
                <mat-card-title class="text-center username">{{player.name}}</mat-card-title>
            </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <img mat-card-lg-image class="playeravatar" src="player.imageUrl" alt="player.imageUrl">
                </div>
            </div>
        </div>
    </mat-card-title-group>
</mat-card>