@import '../../styles';
html,
body,
.container {
    background-color: #2196f3;
}

h1 {
    color: white;
}

img {
    height: auto;
    width: 600px;
}

iframe {
    border: white 10px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
