<!--The content below is only a placeholder and can be replaced.-->
<h2>TITRE</h2>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-list>
            <mat-list-item>
                <button color="accent" mat-button matTooltip="home" routerLink="/home.component">
                    <mat-icon>home</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button color="accent" mat-button matTooltip="rules" routerLink="/rules">
                    <mat-icon>help</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button color="accent" mat-button matTooltip="contact" routerLink="/contact">
                    <mat-icon>perm_contact_calendar</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button color="accent" mat-button matTooltip="login" routerLink="/login">
                    <mat-icon>lock</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item>
                <button color="accent" mat-button matTooltip="motus" routerLink="/motus">
                    <mat-icon>games</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-toolbar>
        <mat-toolbar-row>
            <div class="filler"></div>
            <button mat-button matTooltip="home" routerLink="/home">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-button matTooltip="rules" routerLink="/rules">
                <mat-icon>help</mat-icon>
            </button>
            <button mat-button matTooltip="contact" routerLink="/contact">
                <mat-icon>perm_contact_calendar</mat-icon>
            </button>
            <button mat-button matTooltip="login" routerLink="/login">
                <mat-icon>lock</mat-icon>
            </button>
            <button mat-button matTooltip="motus" routerLink="/motus">
                <mat-icon>games</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <button md-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-sidenav-container>
<div class="container">
    <router-outlet></router-outlet>
</div>
