<!-- motus.component.html -->
<div class="example-container mat-elevation-z8">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="saisir votre mot" name="word" [(ngModel)]="word" #ctrl="ngModel" class="form-control" required
                minlength="8" maxlength="8" appForbiddenName="bob">
        </mat-form-field>
        <button mat-button (click)="playGame()" [disabled]="word.length != 8">Send</button>
    </form>

    <mat-grid-list *ngFor="let word of grid" cols="8" rowHeight="2:1" id="row1">
        <mat-grid-tile *ngFor="let letter of word">{{letter}}</mat-grid-tile>
    </mat-grid-list>
</div>
