<mat-card>
  <mat-toolbar color="primary">
    <mat-card-title>
      <i class="material-icons">home</i>
      <h1>MOTUS</h1>
    </mat-card-title>
  </mat-toolbar>
  <mat-card-content>
    Bienvenue sur le jeu en ligne Motus !
    <br> Connectez-vous avec votre compte Google pour continuer.
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
      <button mat-raised-button (click)="logout()">Sign out</button>
    </div>
    <ng-template #showLogin>
      <button mat-raised-button (click)="login()">Sign in with Google</button>
    </ng-template>

  </mat-card-actions>
</mat-card>
