<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="mx-auto text-center align-middle">
            <img src="../../assets/img/logo_motus.png">
            <br>
            <iframe width="650" height="350" src="https://www.youtube.com/embed/CHUHD89l5Yw" frameborder="0" allow="autoplay; encrypted-media"></iframe>
            <br>
            <br />
            <button mat-raised-button class="justify-content-center">START PLAYING NOW !</button>
            <button mat-raised-button class="justify-content-center">CREDITS</button>
        </div>
    </div>
</div>
