<!-- The content below is only a placeholder and can be replaced. -->
<div class="container-home">
    <div class="hero-title">
        <img src="../../assets/img/logo_motus.png" alt="motuslogo">
        <iframe id="ical" src="https://www.youtube.com/embed/CHUHD89l5Yw" allow="autoplay; encrypted-media"></iframe>
        <br>
        <button mat-button routerLink="/login">
            <mat-icon>lock</mat-icon>
        </button>
        <button mat-button (click)="onOpendDialog()">
            <mat-icon>help</mat-icon>
        </button>
        <app-credits></app-credits>
    </div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    
</div>
